115_testing/examples/Github/_Level_2/python_test_api-master/xsd/user.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="filterFolder"/>
          <xs:attribute type="xs:string" name="lastCreatedProject"/>
          <xs:attribute type="xs:string" name="login"/>
          <xs:attribute type="xs:string" name="email"/>
          <xs:attribute type="xs:string" name="fullName"/>
          <xs:attribute type="xs:string" name="guest"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>